<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
<p> Учащийся</p>
<p th:text="${person.getName() + ', ' + person.getYear()}"></p>

<div th:if="${books.isEmpty()}">
  <p>У этого челвоека нет книг</p>
  <hr/>
</div>

<div th:unless="${books.isEmpty()}">
  <hr/>
  <b>Книги:</b>
  <br/>

  <div th:each="book:${books}" >
    <p th:text="${book.getName()} + ', ' + ${book.getAuthor()}+', '+${book.getYear()}" style="display:inline-block">Book name</p>
    <input type="submit" value="Сдать"/>
    <br/>
  </div>

  <hr/>
</div>


<form th:method="GET" th:action="@{/person/{id}(id=${person.getId()})/edit}">
  <input type="submit" value="Редактировать"/>
</form>


<form th:method="DELETE" th:action="@{/person/{id}(id=${person.getId()})}">
  <input type="submit" value="Удалить"/>
</form>

</form>
</body>
</html>